/*body {
  width: 100%;
  height: 100%;
  margin: 5px;
  font-family: "Helvetica Neue", Aerial, Helvetica, sans-serif;
}*/

/*#map {
  height: 550px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle
}*/

.info {
    position:fixed;
    top:-60px;
    left:35px;
    /*position:relative;
    left:6px;
    top:210px;*/
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    position:fixed;
    top:0px;
    left:0px;
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
#coolborder
  {
    padding: 1.25rem; 
    border: solid 1px rgba(53,86,129, 0.4); 
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    background-color: white; 
    border-radius:2px;
  } 
  
  #niceTitle
{
	margin: 1em 0 0.5em 0;
	font-weight: 600;
	font-family: 'Titillium Web', sans-serif;
	position: relative;  
	font-size: 36px;
	line-height: 50px;
	padding: 0px 0px 15px 15%;
	color: #355681;
	box-shadow: 
		inset 0 0 0 1px rgba(53,86,129, 0.4), 
		inset 0 0 5px rgba(53,86,129, 0.5),
		inset -285px 0 35px white;
	border-radius: 0 10px 0 10px;
	background: #fff url(../pic/globe.jpg) no-repeat center left; 
}  

#niceRow
{
	/* color: #355681; */
	box-shadow: 
		inset 0 0 0 1px rgba(53,86,129, 0.4), 
		inset 0 0 5px rgba(53,86,129, 0.5),
		inset -285px 0 35px white;
	border-radius: 5px 5px 5px 5px;
}